
:root {
    --menu-color:#F7F6FF;
    }
    

    body,
    body * {
        margin: 0;
        padding: 0;
        vertical-align: center;
        box-sizing: border-box;
        
    }
    
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: inline-block;
        background-color: #EBEEF5;
    }   
  
    