@import '../global.css'; 
/* header start */
.head {
    width: 100px;
    height: 100vh;
    background-color: var(--menu-color);
    position: fixed;
}
.head:hover {
    width: 200px;
    transition: 0.4s;
}


.logo {
    width: 68px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 24px;
}

.hr-top{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    border: 1px solid #C4C4C4;
    background-color: #C4C4C4;
}

nav > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    justify-content: center;
    row-gap: 10px;
}

.home {
    /* border: 1px solid red; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:50px 0 0 50px;
    margin-left: 5%;
    background-color: #fff;
}

.txt {
    text-decoration: none;
    display: none;
}


.head:hover .txt {
display: inline-block;
padding-left: 10px;  
}

.head:hover .magic {
    justify-content: flex-start;
    margin-left: 30px;

}

.magic {
    display: flex;
    flex-direction: row;
}
/* header end */

/* main start*/
.bodyclass {

}

.content{
    width: calc(100% - 100px);
    display:flex;
    flex-direction: column  ;
    align-items: center;
    margin-left: 100px;
}

.content > img {
width: 100%;
height: auto;
object-fit: contain;
}

.txt-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    height: 200px;
    align-content: center;
    width: 85%;
}
.vardas{
    /* border: 1px solid red; */
    font-size: 25px;
    width: 250px;
    margin-top: 50px;
}

.time{
    /* border: 1px solid red; */
    background-color: #fff;
    border-radius: 25px;
    padding: 20px 100px;
    height: 130px;
    margin-top: 50px;
    font-size: 25px;
}

.time > h3 {
    font-size: 29px;
    color:#02577A;
}
.citation {
    font-size: 20px;
    border: 2px solid #02577A;
    border-radius: 25px;
    width: 900px;
    margin-left:-150px;
    margin-top: 50px;
    padding: 40px 100px;
    text-align: center;
    justify-self: center;

}

/* main end*/

/* footer start*/
.futeriukas{
    display: flex;
    flex-direction: column;
}
.hr-bottom{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #02577A;
    background-color: #02577A;
    margin-top: 30px;
    width: 350px;
}
footer > div > p {
    text-align: center;
    line-height: 30px;
}

@media (max-width: 1160px) {
   

    .citation{
        width: 600px;
    }
}

@media (max-width: 895px){
    .citation{
        width: 300px;
        padding: 40px 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    
    .txt-home {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid black; */
        height: 200px;
        align-content: center;
        width: 85%;
    }
    .vardas{
        /* border: 1px solid red; */
        font-size: 25px;
        width: 300px;
        margin-top: 10px;
    }
    .time{
        /* border: 1px solid red; */
        background-color: #fff;
        border-radius: 25px;
        padding: 5px;
        height: 130px;
        margin-top: 10px;
        font-size: 25px;
    }
    .hr-bottom {
        /* width: 60%; */
        width: calc(50% - 100px);
        display:flex;
        flex-direction: column  ;
        align-items: center;
        margin-left: calc(50% - 100px);
        margin-right: 10%;
    }
    .futeriukas > p {
        /* width: 50%; */
        /* margin: 10px calc(100% - 100px); */
    }
}